body {
    background-color: rgb(46, 41, 41);
}

.navbar {
    height: 55px;
    width: 100%;
    position: fixed;
    background-color: white;
    display: flex;
    justify-content: start;
    padding: 5px;
}

.nav-items {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    margin-left: 8px;
    justify-content: center;

}

.nav-items:hover {
    background-color: gray;
}

.nav-icon {
    height: 75%;
}

span {
    font-weight: bold;
    font-size: large;
    letter-spacing: .2px;
}